<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- <p id="abc1234">{{ num }}</p> -->
        <p v-bind:id="uuid">{{ num }}</p>
        <!-- <p class="text-blue">{{ num }}</p> -->
        <p v-bind:class="name">{{ num }}</p>
        <p>{{ doubleNum }}</p>

        <div v-if="loading">Loading...</div>
        <div v-else>test user has been logged in</div>

        <!-- <div style="display: none;">Loading...</div> v-show 속성 값이 false일 때-->
        <div v-show="loading">Loading...</div>


        <!-- TODO: 인풋 박스를 만들고 입력된 값을 p 태그에 출력하세요. -->
        <input type="text" v-model="message">
        <p>{{ message }}</p>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el:'#app',
            data: {
                num: 10,
                // 요소의 id를 데이터로 관리할 수 있음
                uuid: 'abc1234',
                name: 'text-blue',
                loading: true,
                message: ''
            },
            computed: {
                doubleNum: function() {
                    return this.num * 2;
                }
            }
        });
    </script>
</body>
</html>